.book-img {
    width: 100%;
    height: 400px;
}

.book-img:hover {
    cursor: pointer;
}

.red-border {
    border: 2px red solid !important;
}

.book-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

